aiohttp>=3.0.0,<4.0.0
pydantic>=2.0.0,<3.0.0

# in development, we want to install all the extra deps so the docs generate correctly
torch  # ;extra == 'huggingface'
transformers>=4.0.0,<5.0.0  # ;extra == 'huggingface'
sentencepiece~=0.1.99  # ;extra == 'llama'
tiktoken~=0.4.0  # ;extra == 'openai'
ctransformers~=0.2.14  # ;extra == 'ctransformers'

# dev
black
build
isort
pytest
pytest-asyncio
twine

# docs
furo~=2023.5.20
sphinx~=7.0.0
sphinxemoji~=0.2.0
sphinx-copybutton~=0.5.2
sphinx-inline-tabs~=2023.4.21
sphinxext-opengraph~=0.8.2
