# in development, we want to install all the extra deps so the docs generate correctly
-e .[all]

# manual install
torch
torchvision  # for multimodal e2e tests
torchcodec~=0.9.0  # for multimodal e2e tests

# dev
black
build
isort
hatch
twine

# test
coverage
freezegun
hypothesis
pytest
pytest-asyncio
pytest-frozen-uuids
pytest-lazy-fixtures

# docs
furo~=2025.12.19
sphinx~=8.1.3
sphinxemoji~=0.3.2
sphinx-copybutton~=0.5.2
sphinx-inline-tabs~=2025.12.21.14
sphinx-sitemap~=2.9.0
sphinxext-opengraph~=0.13.0
matplotlib>=3.0.0,<4.0.0  # depended on by opengraph
myst-parser~=4.0.1
