# in development, we want to install all the extra deps so the docs generate correctly
-e .[all]

# manual install
aiohttp
torch

# dev
black
build
isort
hatch
hypothesis
pytest
pytest-asyncio
twine

# docs
furo~=2023.9.10
sphinx~=7.2.6
sphinxemoji~=0.2.0
sphinx-copybutton~=0.5.2
sphinx-inline-tabs~=2023.4.21
sphinx-sitemap~=2.5.1
sphinxext-opengraph~=0.9.0
matplotlib>=3.0.0,<4.0.0  # depended on by opengraph
